body {
  color: green;
}

 .nav a {
   text-decoration: none;
 }

 .nav li {
   margin: 20px;
   text-align: left
 }

 .title h1 {
   text-align: center;
 }

#note-titles h3:hover {
  color: black;
  cursor: pointer
}

#note-container button {
  margin: 20px;
  cursor: pointer
}
/*.navbar h2 li{
  text-align: left;
}*/
